@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #555;
}
input{
  outline: none;
  text-indent: 10px;
}
.hr{
  width: 80%;
  margin: 0 auto;
  height: 2px;
  background: #ccc;
}

/* DOG CARDS */
.dog-container{
  width: 80%;
  margin: 0 auto;
  min-height: 630px;
}
.dogs-show{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}
.dog-card{
    text-align: center;
    border-radius: 10px;
    width: 310px;
    margin-bottom: 20px;
    background: #f3f7f8;
    border-radius: 32px 32px 16px 16px;
    box-shadow:1px 1px 10px 1px rgba(0,0,0,0.15)
}
.dog-card p{
  margin:0;
}
.dog-card .up{
  margin-bottom: 20px;
}
table {
  margin-top: 20px;
}
.title{
  font-weight: 600;
}
.aside{
  margin-right: 10px;
}
.title, .dog-card h3{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
  font-size: 30px;
}
.shadow{
  position: relative;
  margin: 0 auto;
  margin-top: 2px;
  height: 10px;
  border-radius: 0px 0px  48px 48px;
}

.left i{
    color: #Fff;
    transform: rotate(-70deg);
    text-shadow: 1px 1px 8px gold;
}
.right i{
    color: #Fff;
    transform: rotate(70deg);
    text-shadow: 1px 1px 8px gold;
}
.dog-card img{
    min-height: 210px;
    max-width: 310px;
    border-radius: 32px 32px 0px 0px;
}
.input-row{
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.input-row  .search{
  height: 35px;
  width: 300px;
  border-radius:  0px 32px 32px 0px;
  border: 2px solid #00bcd4;
  border-left: none;
}
.filter-options{
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.info-btn{
  border: none;
  padding: 10px 20px;
  color: #999;
  border: 2px solid #999;
  background: transparent;
  border-radius: 32px;
  margin-bottom: 20px;
  font-size: 17px;
}
.info-btn:hover{
  cursor: pointer;
}
.fa-search{
  align-self: center;
  text-align: center;
  color: #00bcd4;
  border: 1px solid gold;
  height: 28px;
  padding: 9px 12px 0px 12px ;
  border: 2px solid #00bcd4;
  border-right: none;
  border-radius: 32px 0px 0px 32px;
}
/* HOME */
.hero-img{
  margin: 0 auto;
  width: 60%;
  height: 400px;
  background-image: url('https://i.ibb.co/vXYQGRz/Dog-Beagle-running-and-jumping-with-tongue-out-through-green-grass-field-in-a-spring.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 26px;
}

/* NAV SECTION */
nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #Fff;
}
nav a{
    text-decoration: none;
    font-size: 18px;
}
nav a:hover{
    cursor: pointer;
}
.nav-one{
  height: 40px;
  background-color: #00bcd4;
  color: #fff;
  margin-bottom: 30px;
}
.nav-one div{
  width: 80%;
}
.nav-two{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
}
.nav-one  a{
  color: #fff;
  text-decoration: none;
  float: right;
  font-size: 1em;
}
.nav-help{
  margin-right: 30px;
}
.nav-contact{
  margin-right: 26px;
}
nav img{
  max-width: 290px;
}
.nav-two .nav-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 600px;
  margin-right: -20px;
  font-weight: 500;
}
/* ALERTS // FORM */

.alert-box{
  position: relative;
  top: -50px;
  margin-bottom: -20px;
}


.alert-box form{
  align-self: end;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  border-radius: 20px;
  background: #Fff;
  padding: 20px 0px 10px 0px;
  box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.15)
}
.email{
  text-indent: 10px;
  border-radius: 32px;
  width: 64%;
  height: 40px;
  border: 1px solid #eee;
  color: #00bcd4;
  margin-right: 20px;
  font-size: 19px;
  font-weight: 600;
}
::placeholder{
  color: #00bcd4;
  font-weight: 600;
  font-size: 19px;
}
.btn-alert{
  background: #00bcd4;
  color: #Fff;
  border-radius: 32px;
  padding: 10px 30px;
  border: none;
  font-size: 19px;
  font-weight: 600;
}
.email-row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
/* BUTTONS LOST AND FOUND SECTION */
.forms{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.found, .home, .breeds,.lost{
  color: #555;
}
.report{
  color: #00bcd4;
  padding: 10px 15px;
  border: 2px  solid  #00bcd4;
  border-radius: 32px;
}
.report:hover{
  background: #00bcd4;
  color: #fff;
  border: 2px  solid  #00bcd4;
}
/* Search box */
.search-box{
  margin: 0 auto;
  width: 700px;
  padding: 40px 0px;
  border-radius: 20px;
  box-shadow:1px 1px 10px 1px rgba(0,0,0,0.15)
}
.search-box label{
  margin-right: 10px;
  font-size: 17px;
}
/* FOOTER SECTION */
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: #999;
}
/* HIDDEN */
.hidden{
    display: none !important;
}
/* FORM */

.form-box{
    padding: 40px 50px;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    border-radius: 16px;
    box-shadow:1px 1px 10px 1px rgba(0,0,0,0.15)
}
th{
  text-align: end;
}
.flex-box{
  display: flex;
}
.form-box form label{
  font-size: 17px;
}
.text-field{
  border: 2px solid #ccc;
  border-radius: 20px;
  height: 30px;
  width: 200px;
  padding-right: 5px;
}
.form-header{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    font-family: O;
    color: #00bcd4;
    font-family: 'Oswald', sans-serif;
}

.input-option{
    border: 2px solid #ccc;
    width: 210px;
    height: 35px;
    border-radius: 20px;
    padding-right: 5px;
}
.empty-option{
    text-align: center;
}
.create-btn{
    background: transparent; 
    border: 3px solid #00bcd4;
    border-radius: 32px;
    margin: 20px 0px;
    padding: 10px 25px;
    background: #00bcd4;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}
form button{
    padding: 5px 10px;
}
/* PAWS ANIMATION */

.pad {
    width: 25px;
    height: 27px;
    background-color: #654321;
    -webkit-border-radius: 63px 63px 63px 63px / 108px     108px 72px 72px;
    border-radius: 50%  50%  50%  50%  / 60%   60%         40%  40%;
    display: block;
    position: absolute;
}       
.large {
   width: 70px;
   height: 80px;
   transform: rotate(80deg);
   left: 100px;
   top: 50px;
} 
.small-1 {
   transform: rotate(50deg);
   left: 145px;
   top: 28px;
}
.small-2 {
   transform: rotate(65deg);
   left: 174px;
   top: 50px;
}  
.small-3 {
   transform: rotate(98deg);
   position: absolute;
   left: 178px;
   top: 87px;
}
.small-4 {
   transform: rotate(140deg);
   position: absolute;
   left: 158px;
   top: 117px;
}
    
/* position and animate */
.paw-print--1 {
    opacity: 0;
    position: absolute;
    left: -40px;
    top: 200px;
    transform: rotate(-40deg);
    -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-0 {
    opacity: 0;
    position: absolute;
    left: -50px;
    top: 400px;
    transform: rotate(-40deg);
    -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/0.25s;
}
    
.paw-print-1 {
  opacity: 0;
  position: absolute;
  left: 150px;
  top: 250px;
  transform: rotate(-40deg);
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-2 {
  opacity: 0;
  position: absolute;
  left: 275px;
  top: 280px;
  transform: rotate(-5deg); 
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-3 {
  opacity: 0;
  position: absolute;
  left: 375px;
  top: 130px;
  transform: rotate(-10deg); 
  -webkit-animation: walk 3s linear infinite 0.5s;
  animation: walk 3s linear infinite 0.5s;
}     
.paw-print-4 {
  opacity: 0;
  position: absolute;
  left: 575px;
  top: 280px;
  transform: rotate(-20deg); 
  -webkit-animation: walk 3s linear infinite 0.75s;
  animation: walk 3s linear infinite 0.75s;
}    
.paw-print-5 {
  opacity: 0;
  position: absolute;
  left: 725px;
  top: 50px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1s;
  animation: walk 3s linear infinite 1s;
}   
.paw-print-6 {
  opacity: 0;
  position: absolute;
  left: 875px;
  top: 200px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1.25s;
  animation: walk 3s linear infinite 1.25s;
}   
.paw-print-7 {
  opacity: 0;
  position: absolute;
  left: 1075px;
  top: 50px;
  transform: rotate(20deg); 
  -webkit-animation: walk 3s linear infinite 1.5s;
  animation: walk 3s linear infinite 1.5s;
}   
.paw-print-8 {
  opacity: 0;
  position: absolute;
  left: 1150px;
  top: 250px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1.75s;
  animation: walk 3s linear infinite 1.75s;
}
.paw-print-9 {
  opacity: 0;
  position: absolute;
  left: 1300px;
  top: 70px;
  transform: rotate(20deg); 
  -webkit-animation: walk 3s linear infinite 2.5s;
  animation: walk 3s linear infinite 2s;
}
.paw-print-10 {
  opacity: 0;
  position: absolute;
  left: 1400px;
  top: 275Px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1.75s;
  animation: walk 3s linear infinite 2.5s;
}
/* CONTACTS */
.contact-container{
  min-height: 620px;
}
.contact-box{
  margin-bottom: 30px;
}
.contact-box  form{
  text-align: center;
  width: 320px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow:1px 1px 10px 1px rgba(0,0,0,0.15)
}
.contact-box  form h2{
  color: #00bcd4;
  font-family: 'Oswald', sans-serif;
}
.contact-box  form .email-name{
  border: 2px solid #ccc;
  border-radius: 32px;
  height: 30px;
  color: initial;
}
.contact-box  form label{
  font-size: 20px;
}
.email-name{
  width: 80%;
  margin: 10px 0px 10px 0px;
}
.email-message{
  margin-top: 10px;
  width: 80%;
  min-height: 50px;
  border: 2px solid #ccc;
}
.send-contact{
  height: 40px;
  text-indent: 0;
  text-align: center;
  padding: 5px 25px;
  border:3px solid #00bcd4;
  border-radius: 32px;
  background: #00bcd4;
  color: #fff;
  margin: 20px 0px;
  font-weight:600;
  cursor: pointer;
  font-size: 19px;
}
/* HELP */
.help-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.help-box{
  text-align: start;
  margin:0 auto;
  width: 80%;
  border-radius: 16px;
  margin-bottom: 30px;
}
.help-box a{
  text-decoration: none;
  color: #00bcd4;
  cursor: pointer;
}
.small{
  font-size: 13px;
}
.fa-check-circle{
  color: #75b603;
}
.blue{
  color: #00bcd4;
  font-family: 'Oswald', sans-serif;
}
.centered{
  text-align: center;
}
li{
  margin-bottom: 10px;
}
    
/* walking effect animation keyframes */
    
@-webkit-keyframes walk {
  25%  {opacity: 1;}
  100% {opacity: 0;}
}
    
@keyframes walk {
  /* appear */
  25%  {opacity: 1;}
  /* disappear */
  100% {opacity: 0;}
}
/* DOG DETAILS */

.dog-detail{
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  max-width: 310px;
  margin-bottom: 20px;
  background: #f3f7f8;
  border-radius: 32px 32px 16px 16px;
  box-shadow:1px 1px 10px 1px rgba(0,0,0,0.15);
}
.dog-detail p{
margin:0;
}
.dog-detail .up{
margin-bottom: 20px;
}
.dog-detail img{
  min-height: 210px;
  max-width: 310px;
  border-radius: 32px 32px 0px 0px;
}
.top{
  margin-top: 20px;
}
.detail tr th input{
  border: 2px solid #ccc;
  border-radius: 20px;
}
.change-report{
  border-radius: 32px;
  border: 2px solid #00bcd4;
  background-color: #00bcd4;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 5px 15px;
}


/* BREEDS SECTION */
.hero-breeds{
  margin: 0 auto;
  width: 60%;
  height: 400px;
  background-image: url('https://i.ibb.co/XfBj5cJ/group-portrait-of-adorable-puppies-9-CYAUVL.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 26px;
}
#banner-message {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  border-radius: 20px;
  padding:15px 0px 40px 0px;
  background-color: #fff;
  box-shadow:1px 1px 10px 1px rgba(0,0,0,0.15)
}
.breed_select{
  height: 40px;
  width: 300px;
  border-radius: 32px;
  border: 2px solid #00bcd4;
  outline: none;
  text-indent: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #00bcd4;
}
#breed_data {
  border-radius: 4px;
  padding: 20px;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s;
  margin: 0 auto;
  width: 500px;
  min-height: 50px;
}
#breed_data h1{
  color: #00bcd4;
}
#breed_data p{
  text-align: center;
  font-size: 17px;
  margin: 0;
  margin-bottom: 10px;
}
#breed_data img{
  max-width: 500px;
  border-radius: 20px;
}

#breed_image {
  background: #fff;
  margin: 0 auto;
  max-width: 460px;
}
