.dogs-show{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.dog-card{
    border: 1px solid gold;
    border-radius: 10px;
    width: 290px;
    padding: 10px;
}
.left i{
    color: #Fff;
    transform: rotate(-70deg);
    text-shadow: 1px 1px 8px gold;
}
.right i{
    color: #Fff;
    transform: rotate(70deg);
    text-shadow: 1px 1px 8px gold;
}
img{
    max-width: 290px;
}
/* NAV SECTION */
nav{
    border: 1px solid gold;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
nav a{
    border: 1px solid gold;
    font-size: 18px;
}
nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}